<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voicebot Assistance</title>
</head>
<body>
    <button onclick="handleVoiceInput()">Nhấn để nói</button>
    <audio id="responseAudio" controls style="display:none;"></audio>
    <audio id="greetingAudio" src="/media/audio/greeting.mp3" ></audio>
    <div id="responseText"></div>
    <script>
        // Lấy CSRF token từ cookie
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');

        // Đoạn mã JavaScript sử dụng SpeechRecognition API và giao tiếp với Django backend
        const recognition = new webkitSpeechRecognition();
        recognition.lang = 'vi-VN';

        const handleVoiceInput = () => {
            const greetingAudio = document.getElementById('greetingAudio');
            greetingAudio.play();
            greetingAudio.onended = () => {
                recognition.start();
            };
        };

        recognition.onresult = (event) => {
            const speechResult = event.results[0][0].transcript;
            fetch('/process_request/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({ speech_text: speechResult }),
            })
            .then(response => response.json())
            .then(data => {
                // Hiển thị kết quả lên giao diện người dùng
                console.log(data.message);
                document.getElementById('responseText').innerText = data.message;

                // Phát âm thanh phản hồi
                const audioElement = document.getElementById('responseAudio');
                audioElement.src = data.audio_url;
                audioElement.style.display = 'block';  // Hiển thị audio control (nếu muốn)
                audioElement.play();
            })
            .catch(error => console.error('Error:', error));
        };
    </script>
</body>
</html>
